body{
    margin: 0;
}

.con1{
    background-color: aqua;
    width: 50vw;
    text-align: center;
    padding-top: 15%;
}

.con2{
    background-color: bisque;
    width: 50vw;
}

.conBig{
    display: flex;
    height: 100vh;
}
